weather-app/node_modules/
weather-app/dist/
weather-app/yarn.lock

*.log

weather-app/npm-debug.log*
weather-app/yarn-debug.log*
weather-app/yarn-error.log*
weather-app/pnpm-debug.log*

.idea
.vscode

